<div class="t-mb-6">
  <h1 class="t-text-2xl t-font-bold t-text-gray-800"><%= title %></h1>
  <% if (typeof subtitle !== 'undefined' && subtitle) { %>
    <p class="t-text-gray-600 t-mt-1"><%= subtitle %></p>
  <% } %>
</div>