<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../partials/head'); %>
  </head>

  <body>
    <div class="t-flex">
      <%- include('../../partials/nav'); %>
      <main class="t-w-full"><%- include('../../pages/inicio/main'); %></main>
    </div>
  </body>
  <%- include('../../partials/foot') %>
</html>